
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 6vh;
    background-color: black;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0%;
    border-bottom: 2px solid white;
}
nav ul{
    display: flex;   
}
li{
    list-style: none;
    margin:0px 40px;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display:flex;
    flex-direction: column;
    background-color: grey;
}
header h1{
    color: white;
    font-size:100px;
    text-align: center;
    margin:10px auto;
    margin-bottom: 100px;
        /* border: 1px solid blue; */


}
header .latest-album{
    border:1px solid #56CCF2;
    padding:15px 30px;
    font-size:23px;
    font-weight: 200;
    margin:10px auto;
    background: inherit;
    cursor: pointer;
    color:white;
    
}
header .play-btn{
    cursor: pointer;
    border:2px solid #56CCF2;
    border-radius:50%;
    padding:20px;
    font-size:30px;
    font-weight: 200;
    margin:20px auto;
    background: inherit;
    color:#56CCF2;
}

#tours .tour-item{
    display:flex;
    border-bottom:1px solid black;
    padding:10px;
}
#tours .tour-item .tour-date{
    width:10%;
    /* border: 1px solid blue; */
}
#tours .tour-item .tour-place{
    width:20%;
    color:#777;
    /* border: 1px solid blue; */

}
#tours .tour-item .tour-spec-place{
    width:50%;
    color:#777;
    /* border: 1px solid blue; */

}

#tours .tour-item .buy-btn{
    width:20%;
    background: #56CCF2;
    color:white;
    border:none;
    padding:7px;
    border-radius:5px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tours{
    max-width:900px;
    margin:0 auto;
    padding:20px 30px;
}

footer{
    padding: 3vh;
    margin-top:50px;
    background: #56CCF2;
    text-align: center;
    font-weight: 900;
    font-size:30px;
    color: white;

}

section h2{
    font-family:"Metal Mania";
    text-align:center;
    padding:20px;
    font-size:30px;
}
.container{
    max-width:900px;
    margin:0 auto;
    padding:20px 30px;
}

.content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.content div{
    margin:30px;
}
.content div h3{
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
.content .prod-details{
    display: flex;
    margin: 8px;
    justify-content: space-between;
}
.content .shop-item-button{
    cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}
.cart-btn-bottom {
    display: flex;
    padding: 15px;
    background-color: #777;
    border: none;
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
}
.cart-bottom {
    text-decoration: none;
    color: #56CCF2;
    font-size: 16px;
    font-weight: 700;
}

/* About */
#about{
    max-width:900px;
    margin:0 auto;
    font-size: 22px;
}
#about h3{
    text-align: center;
    font-size:25px;
    margin:20px;
}

#about img{
    float:left;
    margin:20px 50px;
    border-radius: 50%;
    width:200px;
    height:200px;
}


#about p{
    
    font-size:17px;
    margin:20px;
    color:#777;
    /* border: 2px solid blueviolet; */
}

/* nav cart */
.cart-holder{
    border:2px solid #56CCF2;
    border-radius: 7px;;
    padding:2px 10px;
    position: absolute;
    right: 2%;
}
.cart-number{
    position:absolute;
    color:#56CCF2;
    font-size: 20px;
    top:-10px;
    right:-15px;
}

/* hamburger cart */
#cart{
    margin:0px;
    /* display: none; */
    position:fixed;
    top:50px;
    height: 100vh;
    right:0;
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(177, 103, 103);
    min-height:50vh;
}
#cart h2{
    margin:20px 0px;
    padding:0;
}

.cart-btn-bottom{
    display:flex;
    padding:15px;
    background-color: #777;
    border:none;
    border-radius:7px;
    margin:auto;
    cursor:pointer;
}
.cart-bottom{
    text-decoration: none;
    color:#56CCF2;
    font-size: 16px;
    font-weight:700;
}
.cancel{
    position:absolute;
    cursor:pointer;
    color:rgb(121, 117, 117);
    top:0;
    right:0;
    margin:20px;
    background:none;
    font-size:16px;
    font-weight: 700;
    border:1px solid rgb(121, 117, 117);
    border-radius:7px;
    padding:5px;
}

/* cart inside */
.cart-row{
    font-size:18px;
    display:flex;
}
.cart-header{
    font-size:1.2rem;
    font-weight: bold;
}
.cart-item{
    width:45%;
}
.cart-img{
    width:80px;
    border-radius:8%;
    margin-right:20px;
}
.cart-price{
    width:20%;
}
.cart-quantity{
    width:35%;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-quantity input{
    width:40px;
    height:30px;
    border:1px solid rgb(0, 204, 255) ;
    border-radius:8%;
    outline:none;
    text-align:center;
    margin-right:20px;
}
.cart-quantity button{
    color:white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border:none;
    border-radius:8%;
    height:30px;
    outline:none;
    padding: 0px 7px;
}
.cart-quantity button:hover{
    background: rgb(218, 37, 37);;
}
.cart-total{
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2rem;
    margin:20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size:1.5rem;
}

.purchase-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
    background: #56CCF2;
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    border:none;
    border-radius:8%;
    padding:12px;
    cursor: pointer;
}
.purchase-btn:hover{
    background-color:#18acdd;
}

/* .notification */
#container{
    position:fixed;
    bottom:10px;
    right:10px;
}
.notification {
    background-color: #56CCF2;
    border-radius: 5px;
    color: black;
    padding: 2rem;
    margin: 1rem;
}

.notification h4 span{
    color:rgb(235, 33, 33);
}

